@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap&#39');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 4%;
}

body{
    background: linear-gradient(#2c3156, #1b1a33);
    overflow-y: hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.logo{
    width: 170px;
}

.logo img{
    width: 100%;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    padding: 0 15px;
    font-size: 20px;

}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: red;
}